<li class="h2 margin_top_20">
  <h2>
    <%=button_tag t('users.button.new'), 'data-bs-toggle': 'modal', 'data-bs-target': '#exampleModal', class: 'white_hover_text user_object_text_color text-decoration-none' %>
  </h2>
</li>
<li class="h2 margin_top_20">
  <h2>
    <%=button_tag I18n.t('helpers.submit.login'), 'data-bs-toggle': 'modal', 'data-bs-target': '#LoginModal', class: 'white_hover_text user_object_text_color text-decoration-none' %>
  </h2>
</li>


