<div class="border-<%=color%> top-page-base-object overflow-auto d-flex align-items-center">
  <div class="container <%=object%>_object_text_color text-center">
    <i class="fa fa-lock fa-5x"></i>
  </div>
</div>

