<div class="terminal border-green overflow-auto d-flex h-100">
  <div id="prompt" class="m-2 w-100">
    <p class="terminal-object-text-color m-0" id="terminal">$ <strong id="js-input-cmd"></strong><strong id="js-flickr">_</strong></p>
  </div>
</div>
