<div class="terminal border-green overflow-auto d-flex align-items-center h-100">
  <div class="container terminal_object_text_color h-100 d-flex align-items-center justify-content-center">
    <i class="fa fa-lock fa-5x"></i>
  </div>
</div>
