<div class="container root-page-background-color">
  <div class="row">
    <div class="col-md-3 goal_object_layout">
      <%= render 'shared/goal_object'%>
    </div>
    <div class="col-md-3 issue_object_layout">
      <%= render 'shared/issue_object'%>
    </div>
    <div class="col-md-3 issue_object_layout">
      <%= render 'shared/task_object'%>
    </div>
    <div class="col-md-3 user_object_layout">
      <%= render 'shared/user_object'%>
    </div>
  </div>
</div>
