<div class="container root-page-background-color">
  <div class="row">
    <div class="col-md-4 goal_object_layout">
      <%= render 'shared/goal_object'%>
    </div>
    <div class="col-md-4 issue_object_layout">
      <%= render 'shared/issue_object'%>
    </div>
    <div class="col-md-4 user_object_layout">
      <%= render 'shared/user_object'%>
    </div>
  </div>
</div>
