<div class="w-100 terminal-object-text-color p-0">
  <div class ="border-green row">
    <div class="container">
      <%= form_with model: @contact do |f|%>
        <%= f.label :タイトル%>
        <%= f.label :お問い合わせ内容%>
        <%= f.text_field :message%>
        <%f.submit '送信'%>
      <%end%>
    </div>
  </div>
</div>
