<div class="container h-100" id="js-plus-btn-center">
  <div class="d-flex align-items-center justify-content-center h-100 w-100">
    <div class="w-100">
      <div class="d-grid gap-2">
        <%=render 'shared/button/plus_btn', modal: "#{modal}", object: "#{object}"%>
      </div>
    </div>
  </div>
</div>

