<div class="container base-height">
  <div class="row">
    <div class="col-xl-8">
      <div class="container p-0">
        <div class="tabaneru">
          <div class="row">
            <div class="col-md p-0">
              <div class="test-box bg-primary"><h1>目標</h1></div>
            </div>
            <div class="col-md p-0">
              <div class="test-box bg-white"><h1>課題</h1></div>
            </div>
          </div>
        </div>
        <div class="tabaneru">
          <div class="row">
            <div class="col-md p-0">
              <div class="test-box bg-warning"><h1>ロジック（タスク）</h1></div>
            </div>
            <div class="col-md p-0">
              <div class="test-box bg-secondary"><h1>ログイン関連</h1></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="terminal bg-primary">
        <h1>フラッシュメッセージをログみたいに表示する？</h1>
      </div>
    </div>
  </div>
</div>
