<div class='hex-contents'>
  <div id="myHexGrid" class='item'>
    <div class="hexCrop">
      <div class='hexContainer' id='selecter'>
        <div class="hex" id='c-1-r-1'><strong class='hex-font'>準備中</strong></div>
        <div class="hex"><strong class='hex-font'>正常</strong></div>
        <div class="hex"><strong  class='hex-font'> 警告</strong></div>
        <div class="hex"><strong  class='hex-font'>正常</strong></div>
        <div class="hex"><strong  class='hex-font'>準備中</strong></div>
        <div class="hex"><strong  class='hex-font'>準備中</strong></div>
        <div class="hex"><strong  class='hex-font'>準備中</strong></div>
        <div class="hex"><strong  class='hex-font'>準備中</strong></div>
        <div class="hex"><strong  class='hex-font'>準備中</strong></div>
        <div class="hex"><strong  class='hex-font'>準備中</strong></div>
      </div>
    </div>
  </div>
</div>
