<!--
<div class="container root-page-background-color">
  <div class="row">
    <div class="col-md-4">
      <div class="base_object_text goal_object_text_color">
        <h1>目標</h1>
      </div>
      <div class="border-orange base_object overflow-auto">
        <div class="base_object_list margin_top_30">
          <div class="container">
            <ol class="goal_object_text_color">
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>

            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="base_object_text issue_object_text_color">
        <h1>課題</h1>
      </div>
      <div class="border-blue base_object overflow-auto">
        <div class="container">
          <div class="base_object_list margin_top_30">
            <ol class="issue_object_text_color">
              <li class="h2 margin_top_20"><h2>課題一覧</h2></li>
              <li class="h2 margin_top_20"><h2>課題新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>課題詳細</h2></li>
              <li class="h2 margin_top_20"><h2>課題編集</h2></li>
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="base_object_text user_object_text_color">
        <h1>ユーザー</h1>
      </div>
      <div class="border-green base_object overflow-auto">
        <div class="container">
          <div class="base_object_list margin_top_30">
            <ol class="user_object_text_color">
              <li class="h2 margin_top_20"><h2>新規登録</h2></li>
              <li class="h2 margin_top_20"><h2>ログイン</h2></li>
              <li class="h2 margin_top_20"><h2>ログアウト</h2></li>
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>
              <li class="h2 margin_top_20"><h2>目標一覧</h2></li>
              <li class="h2 margin_top_20"><h2>目標新規作成</h2></li>
              <li class="h2 margin_top_20"><h2>目標詳細</h2></li>
              <li class="h2 margin_top_20"><h2>目標編集</h2></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->


