<div id="myHexGrid" class='item'>
  <div class="hexCrop">
    <div class='hexContainer'>
      <div class="hex"><strong>準備中</strong></div>
      <div class="hex"><strong>正常</strong></div>
      <div class="hex"><strong>警告</strong></div>
      <div class="hex"><strong>正常</strong></div>
      <div class="hex"><strong>準備中</strong></div>
      <div class="hex"><strong>準備中</strong></div>
      <div class="hex"><strong>実行中</strong></div>
      <div class="hex"><strong>正常</strong></div>
      <div class="hex"><strong>実行中</strong></div>
      <div class="hex"><strong>準備中</strong></div>
    </div>
  </div>
</div>
