
//--- IMPORT ---------------------------------//
//@import 'hexi-flexi-grid';


//--- TEMPLATE -------------------------------//
#myHexGrid {
//--- SETTINGS -------------- VALUES ---------//
  $gridWidth:   55em;       // 'auto',(px,pt,r/em,vw/h)
  $gridHeight:  auto;       // 'auto',(px,pt,r/em,vw/h)
  $columnCount: 5;          // 'auto',(number)
  $rowCount:    2;          // 'auto',(number)
  $hexCount:    auto;       // 'auto',(number)
  $hexLayout:   row;        // 'row','column','strict'
  $gridOrient:  vertical;   // 'vertical','horizontal'
  $crop:        none;       // 'none','crop'
  $cropFactor:  1;          // (number)
  $hexContent:  auto;       // 'auto','center'
  $hexSize:     auto;       // 'auto',(px,pt,r/em,vw/h)
  $hexMargin:   1em;      // (px,pt,r/em,vw/h)
  $hexShape:    hexagon;    // 'hexagon','circle'
  //$hexShape:    circle;    // 'hexagon','circle'
  $hexColor:    silver;    // hexcode,rgb/a,named
  $images:      none;
//--- MIXINS ---------------------------------//
  @include hexWrapper($gridWidth,$gridHeight,
    $gridOrient,$rowCount,$columnCount);
  .hexCrop {@include hexCrop($crop,$cropFactor)}
  .hexContainer {@include hexContainer($gridWidth,$gridHeight,
    $gridOrient,$columnCount, $images,$rowCount,
    $hexLayout,$hexContent,$hexShape,$hexColor,
    $hexMargin,$hexCount,$hexSize,)}
//--- CUSTOM STYLES --------------------------//


  .c-3.r-1 {background-color: red;}
  .c-3.r-2, .c-2.r-1, .c-4.r-1 {background-color: #85FF72;}
  .c-2.r-2, .c-4.r-2 {background-color: yellow;}
  //.r-2 {transform: scale(0.8);}
  //.c-3.r-1 {opacity:0.5;}

//--------------------------------------------//
}
.hex {
  color: black;
}
.hex-font {
  font-size: 50px;
}
