/*
.main-content {
  height: 70%;
  background-color: #4A4c6D;
  color: #33E971;
}
.hex-contents {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  margin-top: 10px;
  margin-bottom: 30px;
}
.form-control{
  margin: 0 auto;
}
.label {
  display: block;
  text-align: center;
}
.icon{
  color: red;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.icon_text strong{
  color: white;
  border: 2px solid red;
  background-color: red;
  padding: 10px;
}
.icon_text{
  margin-top: 20px;
}
.actions{
  text-align: center;
}
.alert {
  position: absolute;
  top: 2px;
}
.vertical-style{
  writing-mode: vertical-rl;
}
.card-body{
  text-align: center;
}
.task-card{
  width: 20%;
}
.nav{
  justify-content: center;
}
li {
  text-align: left;
}
button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.task_plus_button{
  color: white;
}
.task_button_group{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-card-body {
  width: 250px;
  height: 240px;
}
.block-size {
  width: 100%;
  height: 100%;
}
*/

.border-orange-square{
  border: 1.5px solid #ff8310;
}

.border-orange{
  border: 1.5px solid #ff8310;
  border-radius: 5px;
}
.border-blue{
  border: 1.5px solid #26b8f6;
  border-radius: 10px;
}
.border-green{
  border: 1.5px solid #31ff10;
  border-radius: 10px;
}

// 枠線
.base_object{
  height: 650px;
  margin: 10px;
}
.base_object_index{
  height: 600px;
  margin: 10px;
}
//


.base_object_text{
  text-align: center;
}

.base_object_text_color{
  color: #ff8310;
}
.goal_object_text_color{
  color: #ff8310;
}
.issue_object_text_color{
  color: #26b8f6;
}
.user_object_text_color{
  color: #31ff10;
}

.object_header{
  background-color: #ff8310;
  height: 40px;
}
.text_left{
  text-align: left;
}
.padding_left{
  padding-left: 15px;
}


.height_50{
  height: 50px;
}

// margin
.margin_top_30{
  margin-top: 30px;
}
.margin_top_20{
  margin-top: 20px;
}
.margin_top_25{
  margin-top: 25px;
}
.margin_bottom_30{
  margin-bottom: 30px;
}
.margin_bottom_20{
  margin-bottom: 20px;
}
.margin_bottom_25{
  margin-bottom: 25px;
}


.bg-black{
  background-color: black;
}
.custom-control-input:checked {
   background-color: black;
}

//hover text
.goal_hover_text:hover {
  background-color: #ff8310;
  color: black;
}
.issue_hover_text:hover {
  background-color: #26b8f6;
  color: black;
}
.user_hover_text:hover {
  background-color: #31ff10;
  color: black;
}
button{
  background-color: black;
  padding: 0px;
  border: 0px none; 
}
button:hover{
  color: black;
}
