.check-box input[type="checkbox"]{
  display: none;
}
.check-box input[type="checkbox"]{
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
}
.check-box input[type="checkbox"]::before{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  left: 0;
  top: 50%;
  border: 1px solid;
  border-color: yellow; /* 枠の色変更 お好きな色を */
  border-radius: 30%;
  background-color: black; /* 背景の色変更 お好きな色を */
}
/* チェックが入った時のレ点 */
.check-box input[type="checkbox"]:checked::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 9px;
    margin-top: -6px;
    top: 50%;
    left: 5px;
    transform: rotate(-45deg);
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color: yellow; /* チェックの色変更 お好きな色を */
}

.border-orange-square{
  border: 1.5px solid #ff8310;
}
.border-orange{
  border: 1.5px solid #ff8310;
  border-radius: 1px;
}
.border-blue{
  border: 1.5px solid #26b8f6;
  border-radius: 1px;
}
.border-white{
  border: 1.5px solid white;
  border-radius: 1px;
}
.border-yellow{
  border: 1.5px solid yellow;
  border-radius: 1px;
}
.border-green{
  border: 1.5px solid #33e971;
  border-radius: 1px;
}
.top-page-base-object{
  height: 100%;
}
// 枠線
.base_object{
  height: 650px;
  margin: 10px;
}
.base_object_index{
  height: 600px;
  height: 100%; 
  margin: 10px;
}
.base_object_text{
  text-align: center;
}

.base_object_text_color{
  color: #ff8310;
}
.goal_object_text_color{
  color: #ff8310;
}
.issue_object_text_color{
  color: #26b8f6;
}
.user_object_text_color{
  color: white;
}
.terminal_object_text_color{
  color: #33e971;
}
.terminal-object-text-color, .success-object-text-color{
  color: #33e971;
}
.error-object-text-color{
  color: #ff1010;
}
.task_object_text_color{
  color: yellow;
}
.object_header{
  background-color: #ff8310;
  height: 40px;
}
.text_left{
  text-align: left;
}
.padding_left{
  padding-left: 15px;
}
.height_50{
  height: 50px;
}
// margin
.margin_top_30{
  margin-top: 30px;
}
.margin_top_20{
  margin-top: 20px;
}
.margin_top_25{
  margin-top: 25px;
}
.margin_bottom_30{
  margin-bottom: 30px;
}
.margin_bottom_20{
  margin-bottom: 20px;
}
.margin_bottom_10{
  margin-bottom: 10px;
}
.margin_bottom_25{
  margin-bottom: 25px;
}
//
//padding
.pl-12{
  padding: 0px;
  padding-left: 12px;
}
//alert
.object-alert-success{
  border: 1.5px solid #33e971;
  border-radius: 1px;
  color: #33e971; 
}
.object-alert-danger{
  border: 1.5px solid #FF1010;
  border-radius: 1px;
  color: #FF1010; 
}

//
.bg-black{
  background-color: black;
}
.custom-control-input:checked {
   background-color: black;
}
//hover text
.goal_hover_text:hover {
  background-color: #ff8310;
  color: black;
}
.issue_hover_text:hover {
  background-color: #26b8f6;
  color: black;
}
.user_hover_text:hover {
  background-color: white;
  color: black;
}
.task_hover_text:hover {
  background-color: yellow;
  color: black;
}
.text-black:hover{
  color: black;
}
button{
  background-color: black;
  padding: 0px;
  border: 0px none; 
}
button:hover{
  color: black;
}
.task_active{
  background-color: yellow;
  color: black;
}
.issue_active{
  background-color: #26b8f6;
  color: black;
}

.h-90 {
  height: 90%;
}

.h-80 {
  height: 80%;
}
.h-20 {
  height: 20%;
}
.h-10 {
  height: 10%;
}
.h-5 {
  height: 5%;
}
.h-7 {
  height: 7%;
}
.h-86{
  height: 86%;
}
#js-flickr {
 animation: flash 0.5s linear infinite;
}
@keyframes flash {
  0%,100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
