.modal-header{
  padding: 5px;
  padding-left: 10px;
}

// user-style
.user-modal-header{
  border-bottom-color: white;
  color: white; 
}
.issue-modal-header{
  border-bottom-color: #26b8f6;
  color: #26b8f6;
}
.goal-modal-header{
  border-bottom-color: #ff8310;
  color: #ff8310;
}
.task-modal-header{
  border-bottom-color: yellow;
  color: yellow;
}
.error-modal-header{
  border-bottom-color: #ff1010;
  color: #ff1010;
}
.success-modal-header{
  border-bottom-color: #33e971;
  color: #33e971;
}

//


// btn
.btn{
  background-color: black;
}
.user-btn{
  border: 1.5px solid #33e971;
  color: #33e971;
}
.user-btn:hover{
  background-color: #33e971;
}
.white-btn{
  border: 1.5px solid white;
  color: white;
}
.white-btn:hover{
  background-color: white;
}

.issue-btn{
  border: 1.5px solid #26b8f6;
  color: #26b8f6;
}
.issue-btn:hover{
  background-color: #26b8f6;
}
.goal-btn{
  border: 1.5px solid #ff8310;
  color: #ff8310;
}
.goal-btn:hover{
  background-color: #ff8310;
}
.task-btn{
  border: 1.5px solid yellow;
  color: yellow;
}
.task-btn:hover{
  background-color: yellow;
}
.error-btn{
  border: 1.5px solid #ff1010;
  color: #ff1010;
}
.error-btn:hover{
  background-color: #ff1010;
}
.success-btn{
  border: 1.5px solid #33e971;
  color: #33e971;
}
.success-btn:hover{
  background-color: #33e971;
}

//

.modal-content{
  background-color: black;
}

// border
.user_modal_border_color {
  border: 1.5px solid white;
}
.user-modal-footer{
  border-top-color: white;
}
.issue_modal_border_color {
  border: 1.5px solid #26b8f6;
}
.issue-modal-footer{
  border-top-color: #26b8f6;
}
.goal_modal_border_color {
  border: 1.5px solid #ff8310;
}
.goal-modal-footer{
  border-top-color: #ff8310;
}
.task_modal_border_color {
  border: 1.5px solid yellow;
}
.task-modal-footer{
  border-top-color: yellow; 
}
.error_modal_border_color {
  border: 1.5px solid #ff1010;
}
.error-modal-footer{
  border-top-color: #ff1010;
}
.success_modal_border_color {
  border: 5px solid #33e971;
}
.success-modal-footer{
  border-top-color: #33e971;
}
.error_modal_border_color {
  border: 5px solid #ff1010;
}
.error-modal-footer{
  border-top-color: #ff1010;
}

//

// form
.user-field{
  color: white;
  margin-bottom: 10px;
}
.user-form-control{
  background-color: black;
  border: 1.5px solid #33e971;
  color: #33e971;
}
.white-form-control{
  background-color: black;
  border: 1.5px solid white;
  color: white;
}
.user-form-control:focus {
  background-color: black;
  color: #33e971;
}
.task-field{
  color: yellow;
  margin-bottom: 10px;
}
.task-form-control{
  background-color: black;
  border: 1.5px solid yellow;
  color: yellow;
}
.task-form-control:focus {
  background-color: black;
  color: yellow;
}

.issue-field{
  color: #26b8f6;
  margin-bottom: 10px;
}
.issue-form-control{
  background-color: black;
  border: 1.5px solid #26b8f6;
  color: #26b8f6;
}
.issue-form-control:focus {
  background-color: black;
  color: #26b8f6;
}
.goal-field{
  color: #ff8310;
  margin-bottom: 10px;
}
.goal-form-control{
  background-color: black;
  border: 1.5px solid #ff8310;
  color: #ff8310;
}
.goal-form-control:focus {
  background-color: black;
  color: #ff8310;
}
.modal-show-label{
  font-weight: normal;
  padding: 5px 5px;
  text-align: center;
}
//

//tab
.nav-tabs {
  border: 0px none;
}
.nav-tabs .nav-link{
  border: 0px none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  color: black;
  background-color: #ff8310;
}
.btn:hover{
  color: black;
}
//
.issue-inline{
  display: inline;
}
.nav-link.issue-btn.active{
  background-color: #26b8f6;
  color: black;
}
.nav-link.task-btn.active{
  background-color: yellow;
  color: black;
}

.nav-link.user-btn.active{
  background-color: #33e971;
  color: black;
}
