.modal-header{
  padding: 5px;
  padding-left: 10px;
}

// user-style
.user-modal-header{
  border-bottom-color: #31ff10;
  color: #31ff10; 
}
.issue-modal-header{
  border-bottom-color: #26b8f6;
  color: #26b8f6;
}
.goal-modal-header{
  border-bottom-color: #ff8310;
  color: #ff8310;
}

//


// btn
.btn{
  background-color: black;
}
.user-btn{
  border: 1.5px solid #31ff10;
  color: #31ff10;
}
.user-btn:hover{
  background-color: #31ff10;
}
.issue-btn{
  border: 1.5px solid #26b8f6;
  color: #26b8f6;
}
.issue-btn:hover{
  background-color: #26b8f6;
}
.goal-btn{
  border: 1.5px solid #ff8310;
  color: #ff8310;
}
.goal-btn:hover{
  background-color: #ff8310;
}

//

.modal-content{
  background-color: black;
}

// border
.user_modal_border_color {
  border: 1.5px solid #31ff10;
}
.user-modal-footer{
  border-top-color: #31ff10;
}
.issue_modal_border_color {
  border: 1.5px solid #26b8f6;
}
.issue-modal-footer{
  border-top-color: #26b8f6;
}
.goal_modal_border_color {
  border: 1.5px solid #ff8310;
}
.goal-modal-footer{
  border-top-color: #ff8310;
}
//


// form
.user-field{
  color: #31ff10;
  margin-bottom: 10px;
}
.user-form-control{
  background-color: black;
  border: 1.5px solid #31ff10;
  color: #31ff10;
}
.user-form-control:focus {
  background-color: black;
  color: #31ff10;
}

.issue-field{
  color: #26b8f6;
  margin-bottom: 10px;
}
.issue-form-control{
  background-color: black;
  border: 1.5px solid #26b8f6;
  color: #26b8f6;
}
.issue-form-control:focus {
  background-color: black;
  color: #26b8f6;
}
.goal-field{
  color: #ff8310;
  margin-bottom: 10px;
}
.goal-form-control{
  background-color: black;
  border: 1.5px solid #ff8310;
  color: #ff8310;
}
.goal-form-control:focus {
  background-color: black;
  color: #ff8310;
}
//

//tab
.nav-tabs {
  border: 0px none;
}
.nav-tabs .nav-link{
  border: 0px none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  color: black;
  background-color: #ff8310;
}
.goal-btn:hover{
  color: black;
}
//
