.sidebar {
  background-color: #383947;
}
.goal-list .box {
  padding: 0px;
  //height: 100px;
  //background-color: blue;
}
.goal-list .box-1 {
  //background-color: red;
}
.box-1 .plus-button{
  color: white;
}
ul li a ,ul li {
  color: white;
}
