@import 'bootstrap';
@import 'main-content';
@import 'sub-content';
@import "modal-style";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
  font-family: 'DotGothic16', sans-serif;
}

h1 {
  margin: 0px;
}

html, body {
  height: 100%;
}

body {
  background-color: black;
}
.column-control {
  height: 100%;
}

.sidebar {
  height: 100%;
}

.plus_button {
  width: 50px;
  height: 50px;
}
