@import 'bootstrap';

body{
  background-color: black;
}
.a,.b {
  width: 500px;
  height: 360px;
  position: absolute;
}
.terminal_style{
  background-color: black;
  border-style: solid;
  border-color: white;
}
div.a {
  top: 100px;
  left: 800px;
}
div.b {
  top: 400px;
  left: 100px;
}
div.box{
  background-color: black;
  border-bottom: solid white;
  width: 100%;
  height: 20px;
}
div.text p, .response-text{
  color: #33E971;
  margin: 0px;
  padding-left: 10px;
  padding-top: 3;
}
#cmd {
  color: #33E971;
  padding-left: 5px;
}
#prompt {
  color: #33E971;
}
form {
  background-color: black;
}
input {
  background-color: black;
  border-style: none;
}
label{
  color: black;
}
